@charset "UTF-8";
/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
/* Font weight */
/* Margenes Bottom */
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
/* z-index */
/* Font size for large devices */
/* Colores */
/* Variables Dark theme */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease all;
  background-image: url(img/backgroundWhite.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease all;
  /* Estilos modo oscuro */
}
body.dark {
  background: #1f1d2b;
  background-image: url(img/backgroundBlack.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
body header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #233432;
  background: linear-gradient(90deg, rgb(161, 5, 12) 0%, rgb(73, 2, 6) 100%);
  height: 90px;
}
body header #btnMobile {
  display: none;
  height: 0;
  width: 0;
  margin-top: 10px;
  padding: 0;
  border: none;
  background: none;
}
@media screen and (max-width: 1000px) {
  body header {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #233432;
    background: linear-gradient(90deg, rgb(161, 5, 12) 0%, rgb(73, 2, 6) 100%);
  }
  body header #btnMobile {
    display: flex;
    position: absolute;
    left: 30px;
    top: 35px;
    flex-direction: column;
    width: 35px;
    height: 35px;
    border: 0;
    background: transparent;
    gap: 10px;
  }
  body.dark body header #btnMobile {
    filter: invert(100%);
  }
}
body header #btnMobile div {
  background-color: #f1f1f1;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}
body header #btnMobile:hover div:first-child {
  transform: rotate(44deg);
}
body header #btnMobile:hover div:nth-child(2) {
  opacity: 0;
}
body header #btnMobile:hover div:last-child {
  transform: rotate(-44deg);
}
body.dark body header {
  background: linear-gradient(90deg, rgb(180, 105, 199) 0%, rgb(178, 178, 240) 100%);
}
body header nav {
  margin: 10px;
}
body header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
body header nav ul .switch-lang {
  display: flex;
}
body header nav ul .switch-lang #flags {
  justify-content: space-between;
  margin: 0px 5px 0px 5px;
  width: 30px;
  height: auto;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  body header nav ul {
    display: flex;
    flex-direction: column;
  }
  body header nav ul #flags {
    margin: 15px 5px 0px 5px;
  }
}
body header nav ul .logo {
  height: 100px;
  width: 100px;
  filter: invert(100%);
}
body.dark body header nav ul .logo {
  filter: brightness(0%);
}
body header nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  margin: 15px;
}
@media screen and (max-width: 1000px) {
  body header nav ul a {
    display: none;
    flex-direction: column;
  }
}
body header nav ul a:hover {
  transition: all 0.3s;
  color: #2599e6;
}
body.dark body header nav ul a {
  color: #1f1d2b;
  font-weight: 700;
}
body.dark body header nav ul a:hover {
  transition: all 0.2s;
  color: #065e91;
}
body header .switch {
  background-color: #343d5b;
  width: 50px;
  height: 24px;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
@media screen and (max-width: 560px) {
  body header .switch {
    position: absolute;
    right: 25px;
    top: 44px;
  }
}
body header .switch::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
body header .switch.active {
  background-color: rgb(250, 158, 19);
}
body header .switch.active::after {
  right: 0;
  left: unset;
}
body header .switch span {
  font-size: 17px;
  width: 30px;
  height: 30px;
  line-height: 26px;
  display: block;
  background: none;
  color: #fff;
}
body header .portfolio-name h1 {
  color: #000000;
}
body header .container-btn :nth-child(2) {
  color: #ffffff;
}

.portfolio-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 70vh;
}

.flex-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.content-container .container-presentation span {
  font-size: 20px;
  font-weight: 600;
  color: #a63929;
}
.content-container .portfolio-name {
  font-size: 28px;
}
.content-container .portfolio-name h1 {
  color: #000000;
}
body.dark .content-container .portfolio-name h1 {
  color: #ffffff;
}
.content-container .presentation-paragraph {
  font-size: 17px;
  color: #676a6e;
  font-weight: 600;
  margin-right: 40px;
}
.content-container .container-btn {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  /* Estilos para el primer botón */
  /* Estilos para el segundo botón */
}
.content-container .container-btn :first-child {
  padding: 14px;
  border-radius: 5px;
  border: none;
  background-color: #a63929;
  color: #ffffff;
  font-size: 17px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}
.content-container .container-btn :nth-child(2) {
  font-family: "Poppins", sans-serif;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #a63929;
  background-color: transparent;
  color: #000000;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  margin-right: 10px;
}
body.dark .content-container .container-btn :nth-child(2) {
  color: #ffffff;
}
.content-container .container-btn :nth-child(2):hover {
  background-color: #a63929;
}

.portfolio-img {
  margin-left: 0px;
}
.portfolio-img img {
  max-height: 200px;
  border: solid #a63929 3px;
  border-radius: 50%;
}
.portfolio-img .contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.portfolio-img .contact a {
  padding: 0px;
  font-size: 50px;
  background-color: transparent;
  color: #a63929;
  cursor: pointer;
  transition: all 0.3s ease;
}
.portfolio-img .contact a:hover {
  color: #065e91;
}

@media screen and (max-width: 1000px) {
  .portfolio-container,
  .flex-container {
    flex-direction: column;
    row-gap: 10px;
    margin: 20px 0;
    height: 125vh;
  }
  .portfolio-img img {
    justify-content: center;
    margin: 30px 0;
  }
  h1 {
    text-align: center;
  }
  .container-presentation {
    text-align: center;
  }
  .presentation-paragraph {
    text-align: center;
    margin: 40px;
  }
  .container-btn {
    justify-content: center;
  }
}
.card-container-all h2 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  margin-top: 95px;
}
body.dark .card-container-all h2 {
  color: #ffffff;
}

.proyectos-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  height: auto;
  background: transparent;
  padding: 60px;
}
@media screen and (max-width: 1000px) {
  .proyectos-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.img-proyectos {
  flex: 0 0 auto;
  margin: 0 auto;
  height: 202px;
  width: 373px;
  border-radius: 3px;
  border: 2px solid #a63929;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.2s, box-shadow 0.2s;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 30% cover 30%;
  animation-fill-mode: both;
}
.img-proyectos:hover {
  cursor: pointer;
  transition: 0.2s ease-in;
  scale: 1.05;
  box-shadow: 0px 1px 30px 1px rgb(0, 0, 0);
}

.card-container {
  flex: 0 0 80%;
  margin-left: 50px;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 30% cover 30%;
  animation-fill-mode: both;
}
@media screen and (max-width: 1000px) {
  .card-container {
    margin: 0 20px;
  }
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.icons {
  font-size: 28px;
  cursor: pointer;
}
.icons i {
  transition: all 0.1s;
  margin: 8px;
  color: rgb(17, 144, 182);
  scale: 1.1;
}
.icons :hover {
  color: rgb(104, 176, 235);
  scale: 1.2;
}

.footer-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.footer-card .footer-icons {
  align-items: center;
}

.description-card {
  color: #000;
  min-width: 330px;
}
@media screen and (max-width: 1000px) {
  .description-card {
    margin: 20px;
  }
}
body.dark .description-card {
  color: #fff;
}
.description-card p {
  text-align: start;
}

.span-text {
  color: #a63929;
}

h3 {
  color: #000;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  h3 {
    margin: 20px;
  }
}
body.dark h3 {
  color: #fff;
}

.icons {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 1000px) {
  .icons {
    justify-content: center;
  }
}

.footer-icons {
  display: flex;
  font-size: 28px;
}
.footer-icons i {
  margin: 8px;
}
body.dark .footer-icons i {
  color: #fff;
}
.footer-icons img {
  filter: invert(0%);
}
body.dark .footer-icons img {
  filter: invert(100%);
}

.more-projects .grid-container-more-projects {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 30% cover 30%;
  animation-fill-mode: both;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}
@media screen and (max-width: 480px) {
  .more-projects .grid-container-more-projects {
    grid-template-columns: 1fr;
    gap: 0em;
  }
}
@media screen and (max-width: 1024px) {
  .more-projects .grid-container-more-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
  }
}
@media screen and (max-width: 1024px) and (max-width: 480px) {
  .more-projects .grid-container-more-projects {
    grid-template-columns: 1fr;
    gap: 0em;
  }
}
@media screen and (max-width: 600px) {
  .more-projects .grid-container-more-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3em;
  }
}
@media screen and (max-width: 600px) and (max-width: 480px) {
  .more-projects .grid-container-more-projects {
    grid-template-columns: 1fr;
    gap: 0em;
  }
}
.more-projects .grid-container-more-projects .grid-project {
  display: grid;
  justify-content: center;
  margin: 15px;
}
.more-projects .grid-container-more-projects .grid-project img {
  display: flex;
  height: 300px;
  width: auto;
  margin: 0 auto;
}
.more-projects .grid-container-more-projects .grid-project p {
  color: rgb(0, 0, 0);
  text-align: center;
}
body.dark .more-projects .grid-container-more-projects .grid-project p {
  color: #ffffff;
}
.more-projects .grid-container-more-projects .grid-project .icon-grid {
  display: flex;
  font-size: 28px;
  justify-content: center;
  align-items: center;
}
.more-projects .grid-container-more-projects .grid-project .icon-grid i {
  transition: all 0.1s;
  margin: 8px;
  color: rgb(0, 0, 0);
}
body.dark .more-projects .grid-container-more-projects .grid-project .icon-grid i {
  color: #ffffff;
}
.more-projects .grid-container-more-projects .grid-project .icons-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
}
.more-projects .grid-container-more-projects .grid-project .icons-grid i {
  transition: all 0.1s;
  margin: 8px;
  color: rgb(17, 144, 182);
}
.more-projects .grid-container-more-projects .grid-project .icons-grid :hover {
  color: #a83737;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  align-items: center;
  margin-top: 50px;
}
.about-me .about-me-title {
  text-align: center;
}
.about-me .about-me-text {
  max-width: 1160px;
  text-align: start;
  justify-content: center;
  padding: 20px;
}
body.dark .about-me {
  color: #fff;
}

.stack-container {
  margin: 0 auto;
  text-align: center;
  color: rgb(255, 255, 255);
  height: 80vh;
  max-width: 700px;
}
.stack-container .stack-title {
  text-align: center;
  color: #000;
}
body.dark .stack-container .stack-title {
  color: #ffffff;
}
.stack-container .tecnologies-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stack-container .tecnologies-logo img {
  width: 55px;
  margin: 30px;
}

.go-top-container {
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 4rem;
  bottom: 5rem;
  z-index: -2;
}
.go-top-container .go-top-btn {
  position: fixed;
  width: 0;
  height: 0;
  cursor: pointer;
  z-index: -1;
}
.go-top-container .go-top-btn .arrow-btn {
  position: absolute;
  color: #a63929;
  height: 5rem;
  width: 5rem;
  transition: all 0.3s;
  transform: scale(0);
}

.go-top-container.show {
  z-index: 11;
}
.go-top-container.show .go-top-btn {
  animation: popup 0.3s ease-in-out;
  width: 5rem;
  height: 5rem;
  z-index: 11;
}
.go-top-container.show .go-top-btn .arrow-btn {
  transform: scale(1);
}

@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 5rem;
    height: 5rem;
  }
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}/*# sourceMappingURL=style.css.map */