@charset "UTF-8";
/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
/* Font weight */
/* Margenes Bottom */
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
/* z-index */
/* Font size for large devices */
/* Colores */
/* Variables Dark theme */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease all;
  background-image: url(img/scattered-forcefields\ \(white\).svg);
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease all;
  /* Estilos modo oscuro */
}
body.dark {
  background: #1f1d2b;
  background-image: url(img/scattered-forcefields\ \(6\).svg);
  background-repeat: no-repeat;
  background-size: cover;
}
body header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #233432;
  background: linear-gradient(90deg, rgb(66, 2, 82) 0%, rgb(1, 7, 39) 100%);
  height: 90px;
}
body header #btnMobile {
  display: none;
  height: 0;
  width: 0;
  margin-top: 10px;
  padding: 0;
  border: none;
  background: none;
}
@media screen and (max-width: 560px) {
  body header {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #233432;
    background: linear-gradient(90deg, rgb(66, 2, 82) 0%, rgb(1, 7, 39) 100%);
  }
  body header #btnMobile {
    display: flex;
    position: absolute;
    left: 30px;
    top: 35px;
    flex-direction: column;
    width: 35px;
    height: 35px;
    border: 0;
    background: transparent;
    gap: 10px;
  }
  body.dark body header #btnMobile {
    filter: invert(100%);
  }
}
body header #btnMobile div {
  background-color: #f1f1f1;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}
body header #btnMobile:hover div:first-child {
  transform: rotate(44deg);
}
body header #btnMobile:hover div:nth-child(2) {
  opacity: 0;
}
body header #btnMobile:hover div:last-child {
  transform: rotate(-44deg);
}
body.dark body header {
  background: linear-gradient(90deg, rgb(180, 105, 199) 0%, rgb(178, 178, 240) 100%);
}
body header nav {
  margin: 10px;
}
body header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 560px) {
  body header nav ul {
    display: flex;
    flex-direction: column;
  }
}
body header nav ul .logo {
  height: 100px;
  width: 100px;
  filter: invert(100%);
}
body.dark body header nav ul .logo {
  filter: brightness(0%);
}
body header nav ul a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  margin: 15px;
}
@media screen and (max-width: 560px) {
  body header nav ul a {
    display: none;
  }
}
body header nav ul a:hover {
  transition: all 0.3s;
  color: #2599e6;
}
body.dark body header nav ul a {
  color: #1f1d2b;
  font-weight: 700;
}
body.dark body header nav ul a:hover {
  transition: all 0.3s;
  color: #065e91;
}
body header .switch {
  background-color: #343d5b;
  width: 50px;
  height: 24px;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
@media screen and (max-width: 560px) {
  body header .switch {
    position: absolute;
    right: 25px;
    top: 44px;
  }
}
body header .switch::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
body header .switch.active {
  background-color: rgb(250, 158, 19);
}
body header .switch.active::after {
  right: 0;
  left: unset;
}
body header .switch span {
  font-size: 17px;
  width: 30px;
  height: 30px;
  line-height: 26px;
  display: block;
  background: none;
  color: #fff;
}
body header .portfolio-name h1 {
  color: #000000;
}
body header .container-btn :nth-child(2) {
  color: #ffffff;
}

.portfolio-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 100vh;
}

.flex-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.content-container .container-presentation span {
  font-size: 20px;
  font-weight: 600;
  color: #903ae4;
}
.content-container .portfolio-name {
  font-size: 28px;
}
.content-container .portfolio-name h1 {
  color: #000000;
}
body.dark .content-container .portfolio-name h1 {
  color: #ffffff;
}
.content-container .presentation-paragraph {
  font-size: 17px;
  color: #676a6e;
  font-weight: 600;
  margin-right: 40px;
}
.content-container .container-btn {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  /* Estilos para el primer botón */
  /* Estilos para el segundo botón */
}
.content-container .container-btn :first-child {
  padding: 14px;
  border-radius: 5px;
  border: none;
  background-color: #903ae4;
  color: #ffffff;
  font-size: 17px;
  margin-right: 8px;
  cursor: pointer;
}
.content-container .container-btn :last-child {
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #903ae4;
  background-color: transparent;
  color: #000000;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s;
}
body.dark .content-container .container-btn :last-child {
  color: #ffffff;
}
.content-container .container-btn :last-child:hover {
  background-color: #903ae4;
}

.portfolio-img {
  margin-left: 20px;
}
.portfolio-img img {
  max-height: 200px;
  border: solid #903ae4 3px;
  border-radius: 50%;
}

/*Responsive Desing nueva sintaxis mediaquerys de prueba*/
@media (max-width: 560px) {
  .portfolio-container, .flex-container {
    flex-direction: column;
    row-gap: 40px;
    margin: 20px 0;
    height: 80vh;
  }
  .portfolio-img img {
    justify-content: center;
    margin: 30px 0;
  }
  h1 {
    text-align: center;
  }
  .container-presentation {
    text-align: center;
  }
  .presentation-paragraph {
    text-align: center;
    margin: 40px;
  }
  .container-btn {
    justify-content: center;
  }
}
.proyectos-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  height: auto;
  border-radius: 8px;
  background: transparent;
  padding: 60px;
}
@media screen and (max-width: 1000px) {
  .proyectos-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

.img-proyectos {
  flex: 0 0 auto;
  margin: 0 auto;
  height: 202px;
  width: 373px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 55px 0px rgb(0, 0, 0) inset;
}

.card-container {
  flex: 0 0 80%;
  margin-left: 50px;
}
@media screen and (max-width: 1000px) {
  .card-container {
    margin: 0 20px;
  }
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

.icons {
  font-size: 28px;
  cursor: pointer;
}
.icons i {
  transition: all 0.1s;
  margin: 8px;
  color: #903ae4;
}
.icons :hover {
  color: rgba(168, 104, 231, 0.7411764706);
}

.footer-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.description-card {
  color: #000;
}
body.dark .description-card {
  color: #fff;
}

h3 {
  color: #000;
}
body.dark h3 {
  color: #fff;
}

.footer-icons {
  font-size: 28px;
}
.footer-icons i {
  margin: 8px;
}
body.dark .footer-icons i {
  color: #fff;
}/*# sourceMappingURL=style.css.map */